p{
    background-color: antiquewhite;
    color:blueviolet
}

body{
    background-color: rgb(218, 147, 147);
}
input{
    border-radius: 25px;
}
h1{
    color: rgb(164, 219, 61);
}
.error{
    display: none;
    color: red;
}